# --- For-Bot-Working --------- #
pyrogram
TgCrypto
pyromod==1.5
# --- For-Database ------------ #
pymongo
dnspython
# --- For-Web-Response ------- #
pytz
aiohttp
requests
pyshorteners
pandas
click
lxml
protobuf
pycryptodome
pymp4
requests
Unidecode
xmltodict
